.logo{
    z-index: 100 !important;
    position: absolute;
    top:  1%;
    right: inherit;
    left: 1%;
}
.carousel-item{
    height: 100vh;
    overflow: hidden;
}
.carousel-indicators [data-bs-target] {
    position: relative;
    text-indent: 0!important;
    height: 2rem;
    width: 4rem;
    background-color: transparent !important;
    opacity: 1;
}
.carousel-indicators .active {
    color: red !important;
    border-bottom: black 2px solid!important;
    transition: 0.5s;
}
.carousel-nav{
    height: 1.6rem;
    z-index: 100 !important;
    position: absolute;
    top:  0;
    left: inherit;
    right: -12%;
}
.main-box{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-box-btn{
    border: solid white;
}
.main-box-btn:hover{
    border: solid white !important;
    background-color: white !important;
    color: black !important;
}
/* .feature-box{
} */
.about-box{
    animation: fadeInUpBig;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.about-box-btn{
    color: white;
    font-size: 2rem;
}
.about-box-btn:hover{
    color: rgba(255, 255, 255, 0.735);
}
.latest-page{
    height: 100%;
    background-image: radial-gradient(circle, #ffffff, #e9e9e9, #d3d3d3, #bdbdbd, #a8a8a8);
}
/* .photo-bg{
} */
 .latest-photo-container{
    animation: fadeIn !important;
    animation-duration: 2s !important;
    animation-timing-function: ease-in-out !important;
 }
 .latest-photo-container:hover .latest-img{
    opacity: 0.5;
    transition: 0.3s;
 }
 .latest-photo-title{
    animation: fadeInRight !important;
    animation-duration: 2s !important;
    animation-timing-function: ease-in-out !important;
 }
 .modal-btn-group{
    position: absolute;
    top:  13%;
    left: inherit;
    right: 0%;
    transform: translate(-50% , -50%);
 }
 .modal-btn-title{
    color: white !important;
 }
 .modal-btn-title:hover{
    color: black !important;
 }
 .btn.active i {
    color: red;
  }
 /* .modal-photo-title{

 } */
 .modal-photo-details{
    background: rgba(0, 0, 0, 0.6);  
 }
 .modal-photo-details-info{
    width: clamp(45ch, 100% , 75ch);
}
.abt-page{
    padding: 3rem;
}
.abt-img{
    height: 100%;
    object-fit: cover;
    background: url("../assets/images/abt-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abt-title{
    font-size: 5rem;
}
.abt-p{
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.home-abt-btn-container{ 
   position: relative;
   z-index: 10;
}
@media screen and (min-width: 360px) and (max-width: 1279px) { 
    .carousel-indicators [data-bs-target] {
        width: 1.5rem;
    }
    .carousel-indicators .active {
        color: red;
        border-bottom: transparent 0px solid!important;
        transition: 1s;
    }
    .carousel-nav{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 100;
    }
    .about-box{
        margin-top: 1rem;
   }
   .abt-page{
    padding: 0%;
   }
   .abt-msg{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    color: white;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/abt-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .abt-p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .latest-photo-title,
    .modal-photo-title{
        margin-bottom: 3rem;
        font-size: 1rem !important;
        color: black !important;
    }
    .modal-photo-details{
        margin-top: 1rem;
    }
    .modal-photo-details-title{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 12rem;
        font-size: 1.3rem;     
    }
    .modal-photo-details-info{
        height: 10rem;
        font-size: 0.5rem;
    }
    .modal-photo-details-ainfo{
        width: 26vh;
        margin-bottom: 1.5rem;
        margin-top: -2.3rem;
        padding-top: 0.3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 2.5rem;
        font-size: 0.5rem;
        line-height: 0.6rem;
    }
    .modal-photo-credits{
        padding-left: 0.7rem;
        padding-top: 1rem;
        height: 10rem;
        margin-left: 20px;
    }
    .modal-photo-credits-author,
    .modal-photo-credits-date,
    .modal-photo-credits-mods{
        font-size: 0.7rem;
    }
    .modal-btn-group{
        position: absolute;
        top: 16%;
        left: inherit;
        right: -4.5%;
        transform: translate(-50% , -50%);
     }
     .modal-btn-title{
        font-size: 2rem;
     }
  } 
  