section{
    height: 100vh;
    width: 100%;
}
.hero-section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../assets/images/index-cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero{
    font-size: 5rem;
}
.sub-hero{
    font-size: 1.5rem;
}
.btn-hero{
    font-weight: bold;
}
.btn-hero-container:hover{
    color: #ffff;
}
.btn-hero:hover{
    background-color: white !important;
    color: black !important;
    font-weight: bold !important;
}