section{
    height: 100vh;
    width: 100%;
}
.hero-container{
    background: linear-gradient(rgb(255, 0, 0), rgba(255, 0, 0, 0.333)), linear-gradient(rgba(0, 12, 0, 0.333), #0f05);
}
.hero{
    font-size: 5rem;
}
.sub-hero{
    font-size: 1.5rem;
}
.btn-hero:hover{
    background-color: black !important;
    color: #ffff;
}